:root {
  --border-width: 3px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #d129ff;
}

.word-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 45vw;
  height: 45vw;

  .word {
    background: white;
    text-align: center;
    border: 0px dashed black;

    &:nth-of-type(-n + 4) {
      border-top: var(--border-width) solid;
    }

    &:nth-of-type(4n + 1) {
      border-left: var(--border-width) solid;
    }
    &:not(:nth-of-type(4n + 1)) {
      border-left: var(--border-width) dashed;
    }

    &:nth-of-type(4n) {
      border-right: var(--border-width) solid;
    }

    &:nth-last-of-type(-n + 4) {
      border-bottom: var(--border-width) solid;
    }
    &:not(:nth-last-of-type(-n + 4)) {
      border-bottom: var(--border-width) dashed;
    }
  }

  & > [type="submit"] {
    height: 30px;
  }
}

section#grid {
  display: none;
}
